﻿@model WebApi.Paginacao<Dominio.Entidades.Produto>

@{
    ViewData["Title"] = "Listar";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>

<h2 class="text-center" style="margin-top: 20px">Produtos</h2>

<div class="container">
    <div style="float: left; padding-left:15px">
        @if (Model.IndicePagina != 1)
        {
            @Html.ActionLink("Anterior", "Listar", "Produto", new { numPagina = (Model.IndicePagina - 1) })
        }
        else
        {
            <text>Anterior</text>
        }

        @if (Model.IndicePagina != Model.TotalPaginas)
        {
            @Html.ActionLink("Próximo", "Listar", "Produto", new { numPagina = (Model.IndicePagina + 1) })
        }
        else
        {
            <text>Próximo</text>
        }
    </div>

    <div style="float: right; padding-right:15px">
        Página @Model.IndicePagina de @Model.TotalPaginas
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayName("Id")
                </th>
                <th>
                    @Html.DisplayName("Nome")
                </th>
                <th>
                    @Html.DisplayName("Valor")
                </th>
                <th>
                    @Html.DisplayName("Cor")
                </th>
                <th>
                    @Html.DisplayName("Peso")
                </th>
                <th>
                    @Html.DisplayName("Observação")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



